<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Video Stream from Webcam</h1>
    <form id="clientForm">
        <label for="clientId">Client ID:</label>
        <input type="text" id="clientId" name="clientId">
        <button type="button" onclick="startStream()">Start Stream</button>
        <button type="button" onclick="getNumber()">Get Number</button>

    </form>
    <video id="localVideo" autoplay></video>
    <div id="remoteVideos"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        const socket = io("http://192.168.179.7:5000");

        function startStream() {
            const clientId = document.getElementById('clientId').value;
            socket.emit('register', { client_id: clientId });
            startVideo(clientId);
            displayRemoteVideo(clientId);
        }

         function startVideo(clientId) {
            const video = document.getElementById('localVideo');
            const constraints = {
                video: true,
                audio: false
            };

            navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {
                    video.srcObject = stream;
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');

                    const captureFrame = () => {
                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);
                        const frame = canvas.toDataURL('image/jpeg');
                        socket.emit('video', { client_id: clientId, frame: frame });
                    };

                    setInterval(captureFrame, 100); 
                })
                .catch(error => {
                    console.error('Error accessing media devices.', error);
                });
        }

        function displayRemoteVideo(clientId) {
            const remoteVideoContainer = document.getElementById('remoteVideos');
            let lista_clients = null;
           
            socket.emit('number')
            socket.on('count', function(data) {
                lista_clients = data;
            })

            if (lista_clients != null) {
                for (let i = 0; i < lista_clients.length; i++) {
                    remoteVideoContainer.innerHTML += (`<img src="http://192.168.179.7:5000/video_feed/${i}" width="640" height="480" />`);
        }
    }
        }

    </script>
</body>
</html>

